<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- need to use / to directly access the public folder --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dark-mode.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch" />
        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
    </div>
    <script src="/js/dark-mode-switch.min.js"></script>
    
    <div class="search">
        <h1>Please search for a weather location</h1>
        <form action="/" method="post" />
        <input required type="text" name="location">
        <select id="countryDropdown" name="countryCode">
            <option value="GBR">United Kingdom of Great Britain and Northern Ireland</option>
            {{#each list}}
            <option value={{this.alpha}}>{{this.name}}</option>
            {{/each}}
        </select>
        <button type="submit">Search</button>
        </form>
    </div>
    <div class="now">
        <h2 class="error">{{error}}</h2>
        <h2 class="location">{{place}}</h2>
        <h2 class="temperature">{{temp}}</h2>
        <h2 class="description">{{desc}}</h2>
        <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt={{alt}}>
    </div>
    <div class="daily">
        {{#each daily}}
        <div class="day">
            <p class="data date">{{this.dt}}</p>
            <p class="data day-temp">Day: {{this.temp.day}}&#176;C</p>
            <p class="data night-temp">Night: {{this.temp.night}}&#176;C</p>
            <p class="data max">Max: {{this.temp.max}}&#176;C</p>
            <p class="data min">Min: {{this.temp.min}}&#176;C</p>
            <img src="http://openweathermap.org/img/wn/{{this.icon}}@2x.png" alt="weather">
        </div>
        {{/each}}
    </div>
    <script src="/js/main.js"></script>

</body>

</html>